<div id="app-component-container">
  <mat-toolbar id="menu-bar" color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink="/test">Test</a>
        <a mat-menu-item routerLink="/welcome">Welcome</a>
        <a mat-menu-item routerLink="/generate">Generate</a>
        <a mat-menu-item routerLink="/settings">Settings</a>
    </mat-menu>
    <span>{{title}}</span>
  </mat-toolbar>
  
  <div id="content-main">
    <router-outlet></router-outlet>
  </div>  
</div>

<app-spinner 
  *ngIf="this.setOfSpinner.isActivate"
  [title]="this.setOfSpinner.title"
  [message]="this.setOfSpinner.message"
  [mode]="this.setOfSpinner.mode"
  [value]="this.setOfSpinner.value"
  >
</app-spinner>