<div id="app-component-container">
  <mat-toolbar id="menu-bar" color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink="/test" *ngIf='this.gSettings.isDebugMode'>Test</a>
        <a mat-menu-item routerLink="/welcome">🎈{{ptsService.pts?.appPage.welcome||"歡迎"}}</a>
        <a mat-menu-item routerLink="/generate"
        [class.notActive]="!!!dataServerService.isSupport">📰{{ptsService.pts?.appPage.generate||"產生"}}</a>
        <a mat-menu-item routerLink="/settings"
        [class.notActive]="!!!dataServerService.isSupport">⚙{{ptsService.pts?.appPage.setup||"設定"}}</a>
    </mat-menu>
    <span>{{ptsService.pts?.appPage.title||"班級成績管理小幫手"}}</span>

    <button mat-icon-button [matMenuTriggerFor]="langMenu" class="right">
      <mat-icon class="mat-18">translate</mat-icon>
    </button>    
    <mat-menu #langMenu="matMenu">
        <button mat-menu-item *ngFor="let item of ptsService.langList" (click)="updateLang(item.isoCode)">
            {{item.name}}
        </button>
    </mat-menu>
  </mat-toolbar>
  
  <div id="content-main">
    <router-outlet></router-outlet>
  </div>  
</div>

<app-spinner 
  *ngIf="this.setOfSpinner.isActivate"
  [title]="this.setOfSpinner.title"
  [message]="this.setOfSpinner.message"
  [mode]="this.setOfSpinner.mode"
  [value]="this.setOfSpinner.value"
  >
</app-spinner>