<form>
  <div id="div-tmp-name">
      <h3>樣板表單名稱：</h3>
      <button mat-raised-button>產生表單？</button>
  </div>
  <mat-form-field>
    <input matInput placeholder="樣板表單名稱：" [value]="this.gSettings.templateWorksheetName"/>
  </mat-form-field>
  <h3>樣板表單中特殊欄位名稱：</h3>
  <mat-form-field>
    <input matInput placeholder="ID：" [value]="this.gSettings.stID"/>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Name：" [value]="this.gSettings.stName"/>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Total：" [value]="this.gSettings.stTotal"/>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Average：" [value]="this.gSettings.stAvg"/>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Score：" [value]="this.gSettings.stScore"/>
  </mat-form-field>
</form>

<!-- <table>
  <tr>
    <td>樣板表單名稱：</td>
    <td>
      <input type="text" [value]="gSettings.templateWorksheetName"/>
      <br/>
      <button>存檔？</button>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <span>樣板表單中特殊欄位名稱</span>
    </td>
  </tr>
  <tr>
    <td>ID：</td>
    <td><input type="text" [value]="gSettings.stID"/></td>
  </tr>
  <tr>
    <td>Name：</td>
    <td><input type="text" [value]="gSettings.stName"/></td>
  </tr>
  <tr>
    <td>Total：</td>
    <td><input type="text" [value]="gSettings.stTotal"/></td>
  </tr>
  <tr>
    <td>Average：</td>
    <td><input type="text" [value]="gSettings.stAvg"/></td>
  </tr>
  <tr>
    <td>Score：</td>
    <td><input type="text" [value]="gSettings.stScore"/></td>
  </tr>
  
</table> -->