<table>
  <tr>
    <td>樣板表單名稱：</td>
    <td>
      <input type="text" [value]="gSettings.templateWorksheetName"/>
      <br/>
      <button>存檔？</button>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <span>樣板表單中特殊欄位名稱</span>
    </td>
  </tr>
  <tr>
    <td>ID：</td>
    <td><input type="text" [value]="gSettings.stID"/></td>
  </tr>
  <tr>
    <td>Name：</td>
    <td><input type="text" [value]="gSettings.stName"/></td>
  </tr>
  <tr>
    <td>Total：</td>
    <td><input type="text" [value]="gSettings.stTotal"/></td>
  </tr>
  <tr>
    <td>Average：</td>
    <td><input type="text" [value]="gSettings.stAvg"/></td>
  </tr>
  <tr>
    <td>Score：</td>
    <td><input type="text" [value]="gSettings.stScore"/></td>
  </tr>
  
</table>