<form>
  <div id="div-tmp-name">
      <h3>特殊表單名稱：</h3>
      <button mat-raised-button
       *ngIf="isTempSheetExist==false"
       (click)="genTempIn()">{{btGenTmpText}}</button>
  </div>
  <mat-form-field>
    <input #inTmpName matInput placeholder="樣板表單名稱：" 
      [value]="this.gSettings.templateWorksheetName"
      (keyup)="onTempNameChanged(inTmpName.value)"/>
  </mat-form-field>
  <h3>樣板表單中特殊欄位值：</h3>
  <div class="block1">
    <div class="block-head">
      科目上方
    </div>
    <mat-form-field>
      <input matInput placeholder="Title: "
        [value]="this.gSettings.stTitle"
        (input)="this.gSettings.stTitle = $event.target.value"/>
    </mat-form-field>
  </div>
  <div class="headerTerms">
    <div class="block2">
      <div class="block-head">
        科目之左
      </div>
      <mat-form-field>
        <input matInput placeholder="ID：" 
        [value]="this.gSettings.stID"
        (input)="this.gSettings.stID = $event.target.value.trim()"/>
     </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Name："
         [value]="this.gSettings.stName"
         (input)="this.gSettings.stName = $event.target.value.trim()"/>
      </mat-form-field>    
    </div>
    <div class="block2">
        <div class="block-head">
            科目之右
          </div>
          <mat-form-field>
        <input matInput placeholder="Total："
        [value]="this.gSettings.stTotal"
        (input)="this.gSettings.stTotal = $event.target.value.trim()"/>
     </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Average："
        [value]="this.gSettings.stAvg"
        (input)="this.gSettings.stAvg = $event.target.value.trim()"/>
     </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Score："
        [value]="this.gSettings.stScore"
        (input)="this.gSettings.stScore = $event.target.value.trim()"/>
      </mat-form-field>    
    </div> 
  </div>
  <div class="block1">
    <div class="block-head">
      科目下方
    </div>
    <mat-form-field>
      <input matInput placeholder="Course Average：" 
      [value]="this.gSettings.stCAvg"
      (input)="this.gSettings.stCAvg = $event.target.value.trim()"/>
   </mat-form-field>
   <mat-form-field>
    <input matInput placeholder="Course Highest：" 
    [value]="this.gSettings.stCHighest"
    (input)="this.gSettings.stCHighest = $event.target.value.trim()"/>
 </mat-form-field>
 <mat-form-field>
  <input matInput placeholder="Course Lowest：" 
  [value]="this.gSettings.stCLowest"
  (input)="this.gSettings.stCLowest = $event.target.value.trim()"/>
</mat-form-field>

  </div>
</form>
<div>
  <button mat-raised-button (click)="refreshSettings()">🔃更新</button>
</div>
<!-- <table>
  <tr>
    <td>樣板表單名稱：</td>
    <td>
      <input type="text" [value]="gSettings.templateWorksheetName"/>
      <br/>
      <button>存檔？</button>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <span>樣板表單中特殊欄位名稱</span>
    </td>
  </tr>
  <tr>
    <td>ID：</td>
    <td><input type="text" [value]="gSettings.stID"/></td>
  </tr>
  <tr>
    <td>Name：</td>
    <td><input type="text" [value]="gSettings.stName"/></td>
  </tr>
  <tr>
    <td>Total：</td>
    <td><input type="text" [value]="gSettings.stTotal"/></td>
  </tr>
  <tr>
    <td>Average：</td>
    <td><input type="text" [value]="gSettings.stAvg"/></td>
  </tr>
  <tr>
    <td>Score：</td>
    <td><input type="text" [value]="gSettings.stScore"/></td>
  </tr>
  
</table> -->